{% extends "base.html" %} {% block content %}
<!-- Background image -->
<div class="p-5 text-center bg-image" style="
        background-image: url('static/img/pages/background.jpg') ;
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        ">
    <div class="mask w-100 h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white py-5 px-5" style="background-color: rgba(0, 0, 0, .6); border-radius: 30px;">
                <h1 class="mb-3" style="font-size: 70px; font-weight: 800px; ">INVESTIMENTOS</h1>
                <h4 class="mb-3"> Acompanhe seus ativos e alavanque sua posição no mercado financeiro </h4>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->
{% endblock %}